</main>
<footer>
    <p>Copyright © <%= new Date().getFullYear() %></p>
    
    <p>Illustration by <a href="https://pixabay.com/de/users/gustavo_pires_bertaco-15448685/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7052886">Gustavo Pires Bertaco</a> auf <a href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=7052886">Pixabay</a></p>
    
    <p>Programming by Friederike Hemsen</p>
</footer>
</body>

</html>