# Node.js
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Umgebungsdateien
.env

# Spezifische Dateien

queries.sql

# Dateien im Ordner public/assets/img
public/assets/img/info-bild.txt